{% extends 'base.html' %}
{% block content %}
<h1>Home Page</h1>
<a href="{% url 'add-student' %}">Add student</a>
<a href="{% url 'add-examiner' %}">Add examiner</a><hr>

<form action="{% url 'student-search' %}" method="get">
    <input type="text" name="q_student" placeholder="Enter a Roll No">
    <input type="submit" value="Search Student">
</form>
<br><br>
<form action="{% url 'examiner-search' %}" method="get">
    <input type="text" name="q_examiner" placeholder="Enter a Staff ID">
    <input type="submit" value="Search Examiner">
</form>

{% endblock content %}



